<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">

    <meta name="viewport" content="width=device-width">
    
    <link rel="stylesheet" href="/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Bilbo+Swash+Caps&text=TimerackRpotHlSngs' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lekton:400italic' rel='stylesheet' type='text/css'>
    {% block link %}{% endblock %}

    <script src="/js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body{% block bodyattr %}{% endblock %}>
    <div id="head-wrap">
        <header>
            {% block nav %}
                <h1><a href="/" title="Home">Timelog</a></h1>
                <nav>
                    <ul>
                        <li><a class="report" href="/report">Report</a></li>
                        <li><a class="help" href="/help">Help</a></li>
                        <li><a class="settings" href="/settings">Settings</a></li>
                        {% block logout %}{% endblock %}
                    </ul>
                </nav>
            {% endblock %}
        </header>
    </div>
    <!--
        <hgroup>
          <h2>Het opleidingscentrum voor de vrijwillige trainer</h2>
        </hgroup> 
    -->
    <div role="main" id="content">{% block content %}{% endblock %}</div>

    <!-- scripts concatenated and minified via ant build script-->
    <script>window.jQuery || document.write('<script src="/js/libs/jquery-1.7.1.min.js"><\/script>')</script>
    <!-- <script src="/js/plugins.js"></script> -->
    <script src="/js/script.js"></script>
    {% block post_script %}{% endblock %}
    <!-- end scripts-->
    <!-- 
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script> 
    -->
</body>
</html>
