{% extends "base.html" %}

{% block title %}TimeTracker{% endblock %}
{% block bodyattr %} class="help"{% endblock %}

{% block nav %}
    <nav>
        <ul>
            <li><a class="timelog" href="/timelog-static" title="Home">Timelog</a></li>
            <li><a class="report" href="/report-static">Report</a></li>
            <li><a class="help" href="/help-static"><h1>Help</h1></a></li>
            <li><a class="settings" href="/settings-static">Settings</a></li>
            <li><a href="/">Logout</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}

    <p>
        Timelog lets you keep track of your activities. Every first 
        login of the day creates a start entry. After that
        you mark when you finish or switch activity. Ultimatly, you 
        track your activities to get a clear overview of the amount of 
        hours spent per weekday.
    </p>

{% endblock %}