{% extends "base.html" %}

{% block title %}TimeTracker{% endblock %}

{% block description %}{% endblock %}

{% block logout %}<li><a href="{{ url }}">{{ url_linktext }}</a></li>{% endblock %}

{% block nav %}
    <p class="description">
        Timelog lets you keep track of your activities. Every first 
        login of the day creates a start entry. After that
        You you mark when you finish or switch activity. Ultimatly, you 
        track your activities to get a clear overview of the amount of 
        hours spent per weekday.
    </p>
{% endblock %}

{% block content %}
    

<!--  
    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author.nickname() }}</b> wrote:
      {% else %}
        An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content|escape }}</blockquote>
    {% endfor %}
   <form action="/" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form> 
-->

    <a href="{{ url }}">{{ url_linktext }}</a>
{% endblock %}