{% extends "base.html" %}

{% block title %}Timelog{% endblock %}

{% block description %}{% endblock %}

{% block logout %}<li><a href="{{ url }}">{{ url_linktext }}</a></li>{% endblock %}

{% block nav %}
    <nav>
        <ul>
            <li><a class="timelog" href="/" title="Home"><h1>Timelog</h1></a></li>
        </ul>
    </nav>
    <p class="description">
        Timelog lets you keep track of your activities. Every first 
        login of the day creates a start entry. After that
        you mark when you finish or switch activity. Ultimatly, you 
        track your activities to get a clear overview of the amount of 
        hours spent per weekday.
    </p>
{% endblock %}

{% block content %}
<p>
    This app is still under construction. Right now it is setup to give an idea 
    of what the finished app will be able to do. So far not everything works,
    but some stuff does. For instance:
</p>
<ul>
    <li>
        <strong>Logging in:</strong> with a google account you can log into the 
        application and see what a page with content would look like. If you 
        don't have a google account then here are some, currently outdated, 
        static pages:<br /> 
        <a href="/timelog-static">Timelog</a> | <a href="/report-static">Report</a> | 
        <a href="/help-static">Help</a> | <a href="/settings-static">Settings</a>    
    </li>
    <li>First visit walkthrough.</li>
    <li>Automatic creation of start entry</li>
    <li>Create enties</li>
</ul>
<p>What does not work:</p>
<ul>
    <li>Help section is still dreadfully empty.</li>
    <li>Reporting is not yet functional.</li>
</ul>
<p>
    <a href="{{ url }}" class="button big">{{ url_linktext }}</a>
</p>    
{% endblock %}