{% extends "base.html" %}

{% block title %}TimeTracker{% endblock %}
{% block bodyattr %} class="settings"{% endblock %}

{% block nav %}
    <nav>
        <ul>
            <li><a class="timelog" href="/">Timelog</a></li>
            <li><a class="report" href="/report">Report</a></li>
            <li><a class="help" href="/help">Help</a></li>
            <li><a class="settings" href="/settings"><h1>Settings</h1></a></li>
            <li><a href="{{ url }}">{{ url_linktext }}</a></li>
        </ul>
    </nav>
{% endblock %}

{% block logout %}<li><a href="{{ url }}">{{ url_linktext }}</a></li>{% endblock %}

{% block content %}
    {% if changed %}
    <dl class="message info">
        <dt>Info</dt>
        <dd>Updated: 
            {% for c in changed %}{% if not loop.last and not loop.first %}, {% endif %}{% if loop.last and not loop.first %} and {% endif %} {{c}}{% endfor %}.
        </dd>
    </dl>
    {% endif %}
    <form action="/settings" method="post">
        <fieldset>
            <legend>Change your personal settings</legend>
            <br/>
            {% if step == 1 %}
                <p class="first_use">
                    Welcome to <strong>Timelog</strong>. We will start by quickly walking 
                    through the application. 
                    <br /><br />
                    We start at <strong>Settings</strong> because you at least
                    have to set your <strong>Current time</strong>, because 
                    your logging might be off by several hours otherwise. 
                    <br /><br />
                    Also look through the other settings. For instance 
                    <strong>Date representation</strong> can be very confusing 
                    if it differs from what you are used to.
                    <br /><br />
                    Change the settings that need changing and 
                    <strong>update</strong> for the next step in the walk through. 
                </p>
            {% endif %}
            
            {% if step == 4 %}
                <p class="first_use">
                    Welcome to <strong>Timelog</strong>. We will start by quickly walking 
                    through the application.  
                </p>
            {% endif %}
            <p>
                {% if step == 4 %}
                    <p class="first_use">
                        We start at <strong>Settings</strong> because you at least
                        have to set your <strong>Current time</strong>, because 
                        your logging might be off by several hours otherwise. 
                    </p>
                {% endif %}
                <label for="time_zone">Current time</label>
                <select name="time_zone">
                  {% for time in times %}
                    <option value="{{time.td}}"{% if time_zone == time.td %} selected="selected"{% endif %}>{{time.representation}}</option>
                  {% endfor %}
                </select>
            </p>
            <p class="form-help">
                Determine the timezone you are in by selecting the current time.
            </p>
            <p>
                {% if step == 4 %}
                    <p class="first_use">
                        Also look through the other settings. For instance 
                        <strong>Date representation</strong> can be very confusing 
                        if it differs from what you are used to.
                    </p>
                {% endif %}
                <label for="date_repr">Date representation</label>
                <select name="date_repr">
                  {% for date in date_vars %}
                    <option value="{{date}}"{% if date_repr == date %} selected="selected"{% endif %}>{{now.strftime(date)}}</option>
                  {% endfor %}
                </select>
            </p>
            <p class="form-help">
                Choose the example date format most to you liking.
            </p>
            <p>
                <label for="time_repr">Time representation</label>
                <select name="time_repr">
                  {% for time in time_vars %}
                    <option value="{{time}}"{% if time_repr == time %} selected="selected"{% endif %}>{{now.strftime(time)}}</option>
                  {% endfor %}
                </select>
            </p>
            <p class="form-help">
                Choose the example time format most to you liking.
            </p>
            <p>
                {% if step == 4 %}
                    <p class="first_use">
                        This time represents when a day changes, for example from saterday to sunday. 
                        Generally this is 00:00. Can be practical to change if you work night shifts.  
                    </p>
                {% endif %}
                <label for="new_day_time">New day time</label>
                <select name="new_day_time">
                  {% for time in new_day_times %}
                    <option value="{{time[0]}}"{% if new_day_time == time[0] %} selected="selected"{% endif %}>{{time[1]}}</option>
                  {% endfor %}
                </select>
            </p>
            <p class="form-help">
                From what time will logging into Timelog create a new day start 
                time in the log. If you work nights for instance and you 
                sometimes stop around 05:00 in the morning, but you never start 
                before 08:00, then anywhere between could be a good turning 
                point. If you never work late, then 0:00 would be a good 
                turning point (since that is the official one). 
            </p>
            <p>
                <label for="time_span">Time span</label>
                <input name="time_span" value="{{time_span}}"/> <em>in months</em>
            </p>
            {% if errors and errors['time_span'] %}
            <dl class="message error">
                <dt>Error</dt>
                <dd>{{errors['time_span']}}</dd>
            </dl>
            {% endif %}
            <p class="form-help">
                All the activities within the set timespan will be used for 
                the timelog and report generation. In case of the report 
                generation it determines the maximum choice you have in the 
                dropdowns.   
            </p>
            <p>
                <label for="separator">Separator</label>
                <input name="separator" value="{{separator}}"/>
            </p>
            <p class="form-help">
                Is used between main and sub activities to show where one ends
                and the other begins.
            </p>
            {% if step == 1 %}
                <input type="hidden" value="2" name="step" />
            {% endif %}
            {% if step == 4 %}
                <input type="hidden" value="5" name="step" />
            {% endif %}
            {% if step == 4 %}
                <p class="first_use">
                    Change the settings that need changing and 
                    <strong>update</strong> for the next step in the walk through.  
                </p>
            {% endif %}
        </fieldset>
        <div class="controls"><input class="button" type="submit" value="Update" /></div>
    </form>
{% endblock %}


{% block post_script %}
    {% if step == 4 %}
        <script>
            var $first_use = $('.first_use');
            i = 0
            $first_use.hide().eq(i).slideDown();
            $(document).keyup(function(e) {
                if (e.keyCode == 32) {
                    $first_use.eq(i).slideUp();
                    i++;
                    if (i == $first_use.length) {
                        window.location = "http://localhost:8080/?step=5";
                    }
                    $first_use.eq(i).slideDown();
                }
            }).keypress(function(e) {
                e.preventDefault();
            });
        </script>
    {% endif %}
{% endblock %}