{% extends "base.html" %}

{% block title %}TimeTracker{% endblock %}
{% block bodyattr %} class="settings"{% endblock %}

{% block nav %}
    <nav>
        <ul>
            <li><a class="timelog" href="/timelog-static" title="Home">Timelog</a></li>
            <li><a class="report" href="/report-static">Report</a></li>
            <li><a class="help" href="/help-static">Help</a></li>
            <li><a class="settings" href="/settings-static"><h1>Settings</h1></a></li>
            <li><a href="/">Logout</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <form action="/settings" method="post">
        <fieldset>
            <legend>Change your personal settings</legend>
            <br/>
            <p>
                <label for="separator">separator</label>
                <input name="separator">
            </p>
            <p class="form-help">
                Is used between main and sub activities to show where one ends
                and the other begins.
                <span class="todo">
                Maybe a bit of a fancifull option, could be that later on 
                there will not be a choice. It is quite possible nobody cares
                about setting a custom separator.
                </span>
            </p>
            <p>
                <label for="date_repr">Date representation</label>
                <input name="date_repr">
            </p>
            <p class="form-help">
                <span class="todo">
                Right now you can set, when functional (not yet) your local
                representation with python strftime strings. For ease during
                development of the app. This will probably move towards a set 
                of sensible defaults in a dropdown.
                </span>
            </p>
            <p>
                <label for="time_repr">Time representation</label>
                <input name="time_repr">
            </p>
            <p class="form-help">
                <span class="todo">
                Right now you can set, when functional (not yet) your local
                representation with python strftime strings. For ease during
                development of the app. This will probably move towards a set 
                of sensible defaults in a dropdown.
                </span>
            </p>
            <p>
                <label for="start_time">New day time</label>
                <input name="start_time">
            </p>
            <p class="form-help">
                From what time will logging into Timelog create a new day start 
                time in the log. If you work nights for instance and you 
                sometimes stop around 05:00 in the morning, but you never start 
                before 08:00, then anywhere between could be a good turning 
                point. If you never work late, then 0:00 would be a good 
                turning point (since that is the official one). 
            </p>
            <p>
                <label for="time_span">Time span</label>
                <input name="start_time"> <em>in months</em>
            </p>
            <p class="form-help">
                All the activities within the set timespan will be used for 
                the timelog and report generation. In case of the report 
                generation it determines the maximum choice you have in the 
                dropdowns.   
            </p>
        </fieldset>
    </form>

{% endblock %}