body
  margin: 0
  padding: 0
  width: 100%

header
  height: 85px
  margin: 20px auto 12px
  max-width: 60em

nav a, h1
  line-height: 16px
  height: 13px

label
  @extend .left
  clear: both
  width: 9em
  text-align: right
  padding-right: 1em
  padding-bottom: 1em
  display: block

.controls
  input
    @extend .right
   
.button
  display: block
  @extend .left
  padding: .35em .5em .25em
  +border-radius(.25em)

.big
  padding: 1em 2em
  margin: 2em 0
  +border-radius(.5em)

.timelog 
  h1
    margin-top: -19px 

nav
  @extend .left
  text-transform: uppercase
  margin:
    top: 2.75em
  a
    text-decoration: none
  li
    border-left: 2px solid #fff
    float: left
    list-style: none
    padding: 0 1em
    line-height: 1
    &:first-child
      border: 0
      padding-left: 0

.description, nav

#head-wrap
  overflow: hidden
  
form
  overflow: hidden
  padding: 1em
  margin: 2em 0   

#content
  font-size: 130%
  margin: 20px auto 50px
  position: relative
  max-width: 46.2em
  padding: 
    left: 6.9em 
    right: 6.9em

// .timelog
  // #content  
    // max-width: 60em
//   
.description
  @extend .right
  width: 70%
  text-align: right

.new
  // padding: 1em 7.8em 1em 6.9em
  input, select
    max-width: 25em
    
  form
    margin: 0
  // .entry
    // border: 
      // bottom: 2px solid #fff
    // margin:
      // bottom: -2.154em

.log
  // overflow: auto
  // height: 800px
  // padding: 1em 6.9em

.nick
  color: $grey2

.edit
  display: none

.entry
  padding: .25em .5em
  position: relative
  max-width: 50em
  &:hover .edit
    display: inline

.time, .line
  left: -5.25em
  position: absolute
  top: -0.7em

.legend
  margin-left: -5.25em
  span
    position: static

.date
  left: -11em

.line
  left: -0.85em
  top: -0.8em
  
.left
  float: left

.right
  float: right

.duration, .edit
  @extend .right

@for $_i from 1 through 24
  .duration-#{$_i}
    min-height: $_i * 1em

th, td
  padding: .25em .5em

tbody
  th
    text-align: left

.first_use
  padding: .25em
  +border-radius(.25em)

p
  position: relative
  .first_use
    display: block

dl
  &.message
    border: 
      width: 1px 
      style: solid
    clear: both
    margin: 1em 0
    dt
      font-weight: bold
      float: left
      margin: 0 .5em 0 0
      padding: .5em .75em
      color: White
      line-height: 1.25
    dd
      padding: .5em
      margin: 0
      line-height: 1.25
