body
  margin: 0
  padding: 0
  width: 100%

header
  height: 85px
  margin: 15px auto 50px
  width: 960px

h1
  @extend .left

nav
  clear: right
  overflow: hidden
  text-transform: uppercase
  margin:
    top: 5.25em
  a
    text-decoration: none
  li
    border-left: 2px solid #fff
    float: left
    list-style: none
    padding: 0 1em
    line-height: 1
    &:first-child
      border-left: 0

.description, nav
  @extend .right

#head-wrap
  overflow: hidden

#content
  margin: 0 auto
  width: 960px
  position: relative
  width: 960px
  margin: 20px auto 50px

.description
  width: 70%
  text-align: right

.log
  overflow: auto
  height: 800px
  padding: 1em .25em 1em 4em
  
.entry
  padding: .25em .5em
  position: relative

.time, .line
  left: -4em
  position: absolute
  top: -0.7em

.date
  left: -11em

.line
  left: -0.85em
  top: -0.8em
  
.left
  float: left

.right
  float: right

.duration
  float: right

@for $_i from 1 through 24
  .duration-#{$_i}
    min-height: $_i * 1em
