@import utilities/modular-scale
$modular-scale: 1.5
$modular-min: 0.5
$modular-steps: 6
$ideal-text-size: 1em
$double-stranded: false
+modular-scale

html
  font:
    family: $fontFamily
    size: 13px
  line-height: 1.8

h1, h2
  font:
    family: $headingFontFamily
    weight: normal
  line-height: 1.8
  a
    text-decoration: none 

h1
  @extend .ms-5
  margin: .1em -1.75em

h2
  @extend .ms-4

h3, .description
  @extend .ms-2

.date, .time, .start
  font:
    weight: bold
    family: georgia
    style: italic
.date, .time, .line
  text-align: right