@import compass/css3/box-shadow
@import compass/css3/border-radius
@import compass/css3/text-shadow
@import compass/css3/images

// Fonts
$fontFamily: unquote('"Helvetica Neue", Helvetica, Arial, sans-serif')
$headingFontFamily: unquote('"Bilbo Swash Caps", cursive')

// content
$nbsp: '\0000a0'
$raquo: '\0000bb'

// Colors
// Voetbal colors
$lightGreen: #97bf0d
$darkGreen: #7e9530
$bodybackGrey: rgba(134,168,181,.7)
$asidebackGrey: rgba(134,168,181,.2)

// 
$fontColor: #8d8c8c
$headerColor: #222
$selectionBackgroundColor: #fe57a1
$hrColor: #ccc
$insColor: #000
$insBackgroundColor: #ff9
$markColor: $insColor
$markBackgroundColor: #ff0

// Link
$linkColor: $darkGreen
$linkHoverColor: $lightGreen
$linkActiveColor: $linkHoverColor
$linkVisitedColor: #555
$linkFocusColor: $linkHoverColor

// Gradients
$experimental-support-for-svg: true