@import utilities/modular-scale
$modular-scale: 1.618
$modular-min: 0.5
$modular-steps: 5
$ideal-text-size: 1em
$double-stranded: false
+modular-scale

html
  font:
    family: $fontFamily
    size: 13px
  line-height: 1.8

h1, h2
  font:
    family: $headingFontFamily
    weight: normal
  line-height: 1.8
  a
    text-decoration: none 

h1
  @extend .ms-4 

h2
  @extend .ms-3

h3
  @extend .ms-2