article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

audio:not([controls]), [hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; font-family: sans-serif; color: #261822; }

button, input, select, textarea { font-family: sans-serif; color: #261822; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection, ::selection { background: #fe57a1; color: white; text-shadow: none; }

a { color: #731630; }
a:visited { color: #731630; }
a:focus { color: #261822; }
a:hover { color: #261822; }
a:active { color: #40152a; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }

ins { background: #ffff99; color: black; text-decoration: none; }

mark { background: yellow; color: black; font-style: italic; font-weight: bold; }

pre, code, kbd, samp { font-family: monospace, serif; _font-family: "courier new", monospace; font-size: 1em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

sub { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; top: -0.5em; }

sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }

dd { margin: 0 0 0 40px; }

nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure, form { margin: 0; }

fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

button, input { line-height: normal; }

button { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

button[disabled] { cursor: default; }

input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }

input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }

td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #cccccc; color: black; padding: 0.2em 0; }

html { background-color: #d6d0d7; }

#content { background-image: url('/img/clock.svg?1340576649'); background-position: bottom right; background-repeat: no-repeat; padding-bottom: 340px; }

#head-wrap { background-color: #081c33; -moz-box-shadow: 0 0 10px #40152a; -webkit-box-shadow: 0 0 10px #40152a; -o-box-shadow: 0 0 10px #40152a; box-shadow: 0 0 10px #40152a; }

h1 { background-image: url('/img/icon.svg?1340546528'); background-position: top left; background-repeat: no-repeat; background-size: 1.5em 1.5em; padding-left: 1.75em; }

header a { color: #d2e9ff !important; }
header a:hover { color: #ff5434 !important; }

h2 { color: #731630; }

.description { color: white; }

.timelog .timelog, .help .help, .settings .settings { color: #ff5434 !important; }

.entry { background: #261822; color: white; border-top: 2px solid white; }

.pause { color: rgba(255, 255, 255, 0.7); }

.mon { background: #746477; }
.mon .date { color: #746477; }

.tue { background: #40152a; }
.tue .date { color: #40152a; }

.wed { background: #731630; }
.wed .date { color: #731630; }

.thu { background: #cc1e2c; }
.thu .date { color: #cc1e2c; }

.fri { background: #ff5434; }
.fri .date { color: #ff5434; }

.sat { background: #276aba; }
.sat .date { color: #276aba; }

.sun { background: #123b77; }
.sun .date { color: #123b77; }

.start, .date, .time, .line { color: #261822; background: transparent; }

/** =Modular scales ** */
.ms-0 { font-size: 0.667em; }

.ms-1 { font-size: 1em; }

.ms-2, h3, .description { font-size: 1.5em; }

.ms-3 { font-size: 2.25em; }

.ms-4, h2 { font-size: 3.375em; }

.ms-5, h1 { font-size: 5.063em; }

.ms-6 { font-size: 7.594em; }

html { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 13px; line-height: 1.8; }

h1, h2 { font-family: "Bilbo Swash Caps", cursive; font-weight: normal; line-height: 1.8; }
h1 a, h2 a { text-decoration: none; }

h1 { margin: 0.1em -1.75em; }

.date, .time, .start { font-weight: bold; font-family: georgia; font-style: italic; }

.pause { font-style: italic; }

.date, .time, .line { text-align: right; }

body { margin: 0; padding: 0; width: 100%; }

header { height: 85px; margin: 15px auto 50px; width: 960px; }

nav { clear: right; overflow: hidden; text-transform: uppercase; margin-top: 5.25em; }
nav a { text-decoration: none; }
nav li { border-left: 2px solid white; float: left; list-style: none; padding: 0 1em; line-height: 1; }
nav li:first-child { border-left: 0; }

#head-wrap { overflow: hidden; }

#content { margin: 0 auto; width: 960px; position: relative; width: 960px; margin: 20px auto 50px; }

.description { width: 70%; text-align: right; }

.log { overflow: auto; height: 800px; padding: 1em 0.25em 1em 4em; }

.entry { padding: 0.25em 0.5em; position: relative; }

.time, .line { left: -4em; position: absolute; top: -0.7em; }

.date { left: -11em; }

.line { left: -0.85em; top: -0.8em; }

.left, h1 { float: left; }

.right, .description, nav { float: right; }

.duration { float: right; }

.duration-1 { min-height: 1em; }

.duration-2 { min-height: 2em; }

.duration-3 { min-height: 3em; }

.duration-4 { min-height: 4em; }

.duration-5 { min-height: 5em; }

.duration-6 { min-height: 6em; }

.duration-7 { min-height: 7em; }

.duration-8 { min-height: 8em; }

.duration-9 { min-height: 9em; }

.duration-10 { min-height: 10em; }

.duration-11 { min-height: 11em; }

.duration-12 { min-height: 12em; }

.duration-13 { min-height: 13em; }

.duration-14 { min-height: 14em; }

.duration-15 { min-height: 15em; }

.duration-16 { min-height: 16em; }

.duration-17 { min-height: 17em; }

.duration-18 { min-height: 18em; }

.duration-19 { min-height: 19em; }

.duration-20 { min-height: 20em; }

.duration-21 { min-height: 21em; }

.duration-22 { min-height: 22em; }

.duration-23 { min-height: 23em; }

.duration-24 { min-height: 24em; }

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

.hidden { display: none !important; visibility: hidden; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.invisible { visibility: hidden; }

.clearfix { *zoom: 1; }
.clearfix:before { content: ""; display: table; }
.clearfix:after { content: ""; display: table; clear: both; }

@media print { * { background: transparent !important; color: black !important; box-shadow: none !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; }
  /* Black prints faster: h5bp.com/s */
  a { text-decoration: underline; }
  a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }
  a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  /* h5bp.com/t */
  tr { page-break-inside: avoid; }
  img { page-break-inside: avoid; max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }
