article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

audio:not([controls]), [hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; font-family: sans-serif; color: #261822; }

button, input, select, textarea { font-family: sans-serif; color: #261822; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection, ::selection { background: #fe57a1; color: white; text-shadow: none; }

a { color: #731630; }
a:visited { color: #731630; }
a:focus { color: #261822; }
a:hover { color: #261822; }
a:active { color: #40152a; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }

ins { background: #ffff99; color: black; text-decoration: none; }

mark { background: yellow; color: black; font-style: italic; font-weight: bold; }

pre, code, kbd, samp { font-family: monospace, serif; _font-family: "courier new", monospace; font-size: 1em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

sub { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; top: -0.5em; }

sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }

dd { margin: 0 0 0 40px; }

nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure, form { margin: 0; }

fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

button, input { line-height: normal; }

button { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

button[disabled] { cursor: default; }

input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }

input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }

td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #cccccc; color: black; padding: 0.2em 0; }

html { background-color: #d6d0d7; }

#content { background-image: url('/img/clock.svg?1340576649'); background-position: bottom right; background-repeat: no-repeat; padding-bottom: 340px; }

#head-wrap { background-color: #081c33; -moz-box-shadow: 0 0 10px #40152a; -webkit-box-shadow: 0 0 10px #40152a; -o-box-shadow: 0 0 10px #40152a; box-shadow: 0 0 10px #40152a; }

.timelog { background-image: url('/img/icon.svg?1340614830'); background-position: top left; background-repeat: no-repeat; background-size: 85px 85px; margin-left: -100px; margin-top: -40px; padding-bottom: 30px; padding-left: 100px; padding-top: 40px; }

header a { color: #d2e9ff !important; }
header a:hover { color: #ff5434 !important; }

h2 { color: #731630; }

.description { color: white; }

.timelog .timelog, .report .report, .help .help, .settings .settings { color: #ff5434 !important; }

.entry { background: #261822; color: white; border-top: 2px solid white; }

.break { color: rgba(255, 255, 255, 0.7); }

.mon { background: #746477; }
thead .mon, .total .mon, .mon .date { color: #746477; }

.tue { background: #40152a; }
thead .tue, .total .tue, .tue .date { color: #40152a; }

.wed { background: #731630; }
thead .wed, .total .wed, .wed .date { color: #731630; }

.thu { background: #cc1e2c; }
thead .thu, .total .thu, .thu .date { color: #cc1e2c; }

.fri { background: #ff5434; }
thead .fri, .total .fri, .fri .date { color: #ff5434; }

.sat { background: #276aba; }
thead .sat, .total .sat, .sat .date { color: #276aba; }

.sun { background: #123b77; }
thead .sun, .total .sun, .sun .date { color: #123b77; }

td { color: white; }

.total { color: #081c33; }

.report th { background-color: transparent; border-color: transparent; }
.report td { border-bottom: 2px solid white; }

td.total { background-color: white; }

.start, .date, .time, .line { color: #261822; background: transparent; }

.button { background-color: #123b77; *zoom: 1; -ms-filter: "progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF08153A', endColorstr='#FF08153A')"; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF08153A', endColorstr='#FF08153A'); background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIxNiUiIHN0b3AtY29sb3I9IiMwODFjMzMiLz48c3RvcCBvZmZzZXQ9IjI3JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMjklIiBzdG9wLWNvbG9yPSIjZDJlOWZmIi8+PHN0b3Agb2Zmc2V0PSI4NyUiIHN0b3AtY29sb3I9IiMwODFjMzMiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(16%, #081c33), color-stop(27%, #ffffff), color-stop(29%, #d2e9ff), color-stop(87%, #081c33)); background-image: -webkit-linear-gradient(top, #081c33 16%, #ffffff 27%, #d2e9ff 29%, #081c33 87%); background-image: -moz-linear-gradient(top, #081c33 16%, #ffffff 27%, #d2e9ff 29%, #081c33 87%); background-image: -o-linear-gradient(top, #081c33 16%, #ffffff 27%, #d2e9ff 29%, #081c33 87%); background-image: linear-gradient(top, #081c33 16%, #ffffff 27%, #d2e9ff 29%, #081c33 87%); color: white !important; text-shadow: 0 0 2px #081c33, 0 0 2px #081c33, 0 0 5px #081c33, 0 0 10px #081c33; -moz-box-shadow: 2px 3px 5px #261822, 0 0 3px #123b77 inset; -webkit-box-shadow: 2px 3px 5px #261822, 0 0 3px #123b77 inset; -o-box-shadow: 2px 3px 5px #261822, 0 0 3px #123b77 inset; box-shadow: 2px 3px 5px #261822, 0 0 3px #123b77 inset; border: 1px solid #081c33; }
.button:hover { color: #ff5434 !important; }
.button:hover { -moz-box-shadow: 1px 2px 3px #261822, 0 0 3px #123b77 inset; -webkit-box-shadow: 1px 2px 3px #261822, 0 0 3px #123b77 inset; -o-box-shadow: 1px 2px 3px #261822, 0 0 3px #123b77 inset; box-shadow: 1px 2px 3px #261822, 0 0 3px #123b77 inset; text-shadow: 0 0 2px #731630, 0 0 2px #731630, 0 0 5px #40152a, 0 0 10px #261822; }

.new .button, .report form .button, .settings form .button, form .button { background-color: #d2e9ff; *zoom: 1; -ms-filter: "progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF08153A', endColorstr='#FF08153A')"; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF08153A', endColorstr='#FF08153A'); background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIxNiUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjI3JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMjklIiBzdG9wLWNvbG9yPSIjYmViNGMwIi8+PHN0b3Agb2Zmc2V0PSI4NyUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(16%, #ffffff), color-stop(27%, #ffffff), color-stop(29%, #beb4c0), color-stop(87%, #ffffff)); background-image: -webkit-linear-gradient(top, #ffffff 16%, #ffffff 27%, #beb4c0 29%, #ffffff 87%); background-image: -moz-linear-gradient(top, #ffffff 16%, #ffffff 27%, #beb4c0 29%, #ffffff 87%); background-image: -o-linear-gradient(top, #ffffff 16%, #ffffff 27%, #beb4c0 29%, #ffffff 87%); background-image: linear-gradient(top, #ffffff 16%, #ffffff 27%, #beb4c0 29%, #ffffff 87%); color: #261822 !important; -moz-box-shadow: 2px 3px 5px #261822, 0 0 3px white inset; -webkit-box-shadow: 2px 3px 5px #261822, 0 0 3px white inset; -o-box-shadow: 2px 3px 5px #261822, 0 0 3px white inset; box-shadow: 2px 3px 5px #261822, 0 0 3px white inset; text-shadow: 0 0 2px white, 0 0 2px #d6d0d7, 0 0 5px #d6d0d7, 0 0 10px #746477; border: 1px solid #081c33; }
.new .button:hover, .report form .button:hover, .settings form .button:hover, form .button:hover { color: black !important; }
.new .button:hover, .report form .button:hover, .settings form .button:hover, form .button:hover { text-shadow: 0 0 2px #d6d0d7, 0 0 2px #d6d0d7, 0 0 5px white; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIxNiUiIHN0b3AtY29sb3I9IiNkNmQwZDciLz48c3RvcCBvZmZzZXQ9IjI3JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMjklIiBzdG9wLWNvbG9yPSIjNzQ2NDc3Ii8+PHN0b3Agb2Zmc2V0PSI4NyUiIHN0b3AtY29sb3I9IiNkNmQwZDciLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(16%, #d6d0d7), color-stop(27%, #ffffff), color-stop(29%, #746477), color-stop(87%, #d6d0d7)); background-image: -webkit-linear-gradient(top, #d6d0d7 16%, #ffffff 27%, #746477 29%, #d6d0d7 87%); background-image: -moz-linear-gradient(top, #d6d0d7 16%, #ffffff 27%, #746477 29%, #d6d0d7 87%); background-image: -o-linear-gradient(top, #d6d0d7 16%, #ffffff 27%, #746477 29%, #d6d0d7 87%); background-image: linear-gradient(top, #d6d0d7 16%, #ffffff 27%, #746477 29%, #d6d0d7 87%); }

.form-help { color: #276aba; }

.timelog .form-help, .report .form-help, .settings .form-help { color: #746477; }
.timelog .form-help a, .report .form-help a, .settings .form-help a { color: #ff5434; }
.timelog .form-help a:hover, .report .form-help a:hover, .settings .form-help a:hover { color: white; }

.edit a { color: white; }

.start .edit a { color: #081c33; }

.report form, .settings form { background: #40152a; border-top: 2px solid white; border-bottom: 2px solid white; color: white; padding: 1em !important; }

.todo { font-weight: bold; color: #cc1e2c !important; }

.first_use { background: white; border: 2px solid #276aba; color: #123b77; }

.first_use { padding: 1em; -moz-border-radius: 1em; -webkit-border-radius: 1em; -o-border-radius: 1em; -ms-border-radius: 1em; -khtml-border-radius: 1em; border-radius: 1em; }

/** =Modular scales ** */
.ms-0, .form-help { font-size: 0.667em; }

.ms-1 { font-size: 1em; }

.ms-2, h3, .description, .legend span, .new legend, .report form legend, .settings form legend, .big { font-size: 1.5em; }

.ms-3 { font-size: 2.25em; }

.ms-4, h2 { font-size: 3.375em; }

.ms-5, h1 { font-size: 5.063em; }

.ms-6 { font-size: 7.594em; }

html { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 13px; line-height: 1.8; }

h1, h2 { font-family: "Bilbo Swash Caps", cursive; font-weight: normal; line-height: 1.8; }
h1 a, h2 a { text-decoration: none; }

h1 { text-transform: none; margin: -0.05em 0 0.1em; }

.date, .time, .legend, .duration { font-family: "Lekton", monospace; font-style: italic; }

.break { font-style: italic; }

p.form-help { margin-left: 15em; }

.date, .time, .line { text-align: right; }

th { text-align: left; }

td { text-align: right; }

.button { text-align: center; text-decoration: none; }

body { margin: 0; padding: 0; width: 100%; }

header { height: 85px; margin: 20px auto 12px; max-width: 60em; }

nav a, h1 { line-height: 16px; height: 13px; }

label { clear: both; width: 9em; text-align: right; padding-right: 1em; padding-bottom: 1em; display: block; }

.button { display: block; padding: 0.35em 0.5em 0.25em; -moz-border-radius: 0.25em; -webkit-border-radius: 0.25em; -o-border-radius: 0.25em; -ms-border-radius: 0.25em; -khtml-border-radius: 0.25em; border-radius: 0.25em; }

.big { padding: 1em 2em; margin: 2em 0; -moz-border-radius: 0.5em; -webkit-border-radius: 0.5em; -o-border-radius: 0.5em; -ms-border-radius: 0.5em; -khtml-border-radius: 0.5em; border-radius: 0.5em; }

.timelog h1 { margin-top: -19px; }

nav { text-transform: uppercase; margin-top: 2.75em; }
nav a { text-decoration: none; }
nav li { border-left: 2px solid white; float: left; list-style: none; padding: 0 1em; line-height: 1; }
nav li:first-child { border: 0; padding-left: 0; }

#head-wrap { overflow: hidden; }

form { overflow: hidden; padding: 1em; margin: 2em 0; }

#content { font-size: 130%; margin: 20px auto 50px; position: relative; max-width: 46.2em; padding-left: 6.9em; padding-right: 6.9em; }

.description { width: 70%; text-align: right; }

.new input, .report form input, .settings form input, .new select, .report form select, .settings form select { max-width: 25em; }
.new form, .report form form, .settings form form { margin: 0; }

.nick { color: #d6d0d7; }

.edit { display: none; }

.entry { padding: 0.25em 0.5em; position: relative; max-width: 50em; }
.entry:hover .edit { display: inline; }

.time, .line { left: -4em; position: absolute; top: -0.7em; }

.legend { margin-left: -4em; }
.legend span { position: static; }

.date { left: -11em; }

.line { left: -0.85em; top: -0.8em; }

.left, label, .button, nav { float: left; }

.right, .controls input, .description, .duration, .edit { float: right; }

.duration-1 { min-height: 1em; }

.duration-2 { min-height: 2em; }

.duration-3 { min-height: 3em; }

.duration-4 { min-height: 4em; }

.duration-5 { min-height: 5em; }

.duration-6 { min-height: 6em; }

.duration-7 { min-height: 7em; }

.duration-8 { min-height: 8em; }

.duration-9 { min-height: 9em; }

.duration-10 { min-height: 10em; }

.duration-11 { min-height: 11em; }

.duration-12 { min-height: 12em; }

.duration-13 { min-height: 13em; }

.duration-14 { min-height: 14em; }

.duration-15 { min-height: 15em; }

.duration-16 { min-height: 16em; }

.duration-17 { min-height: 17em; }

.duration-18 { min-height: 18em; }

.duration-19 { min-height: 19em; }

.duration-20 { min-height: 20em; }

.duration-21 { min-height: 21em; }

.duration-22 { min-height: 22em; }

.duration-23 { min-height: 23em; }

.duration-24 { min-height: 24em; }

th, td { padding: 0.25em 0.5em; }

tbody th { text-align: left; }

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

.hidden { display: none !important; visibility: hidden; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.invisible { visibility: hidden; }

.clearfix { *zoom: 1; }
.clearfix:before { content: ""; display: table; }
.clearfix:after { content: ""; display: table; clear: both; }

@media print { * { background: transparent !important; color: black !important; box-shadow: none !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; }
  /* Black prints faster: h5bp.com/s */
  a { text-decoration: underline; }
  a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }
  a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  /* h5bp.com/t */
  tr { page-break-inside: avoid; }
  img { page-break-inside: avoid; max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }
